<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quantchi.tianji.service.search.dao.CodeCountryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.quantchi.tianji.service.search.entity.CodeCountry">
        <id column="id" property="id" />
        <result column="english_name" property="englishName" />
        <result column="name" property="name" />
        <result column="two_short_name" property="twoShortName" />
        <result column="three_short_name" property="threeShortName" />
        <result column="is_valid" property="isValid" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="operator_id" property="operatorId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, english_name, name, two_short_name, three_short_name, is_valid, create_time, update_time, operator_id
    </sql>
    <select id="getNation" resultMap="BaseResultMap">
        select * from code_country where is_valid = 1
    </select>

</mapper>
