<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quantchi.tianji.service.search.dao.CodeRegionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.quantchi.tianji.service.search.entity.CodeRegion">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="pid" property="pid" />
        <result column="country_id" property="countryId" />
        <result column="is_valid" property="isValid" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="operator_id" property="operatorId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, type, pid, country_id, is_valid, create_time, update_time, operator_id
    </sql>
    <select id="selectProvinceIds" resultMap="BaseResultMap">
        select * from code_region where type = #{type} and country_id = #{nation}
    </select>

</mapper>
