<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quantchi.tianji.service.search.dao.DepartDao">

    <insert id="insertList" parameterType="com.quantchi.tianji.service.search.model.Department">

        INSERT INTO inv_ding_depart (id, name, parent_id)
        VALUES
            <foreach collection="departments" item="department"  separator=",">
                (#{department.id},#{department.name},#{department.parentId})
            </foreach>
    </insert>

    <delete id="deleteAll">
        delete from inv_ding_depart
    </delete>

</mapper>