<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quantchi.tianji.service.search.dao.DmWfRygwdzbMapper">
  <resultMap id="BaseResultMap" type="com.quantchi.tianji.service.search.model.DmWfRygwdzb">
    <!--@mbg.generated-->
    <!--@Table dm_wf_rygwdzb-->
    <id column="rygwdz_dm" jdbcType="INTEGER" property="rygwdzDm" />
    <result column="user_dm" jdbcType="INTEGER" property="userDm" />
    <result column="gwjs_dm" jdbcType="INTEGER" property="gwjsDm" />
    <result column="qybj" jdbcType="INTEGER" property="qybj" />
    <result column="czrq" jdbcType="TIMESTAMP" property="czrq" />
    <result column="xgrq" jdbcType="TIMESTAMP" property="xgrq" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    rygwdz_dm, user_dm, gwjs_dm, qybj, czrq, xgrq
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from dm_wf_rygwdzb
    where rygwdz_dm = #{rygwdzDm,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from dm_wf_rygwdzb
    where rygwdz_dm = #{rygwdzDm,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="rygwdz_dm" keyProperty="rygwdzDm" parameterType="com.quantchi.tianji.service.search.model.DmWfRygwdzb" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into dm_wf_rygwdzb (user_dm, gwjs_dm, qybj, 
      czrq, xgrq)
    values (#{userDm,jdbcType=INTEGER}, #{gwjsDm,jdbcType=INTEGER}, #{qybj,jdbcType=INTEGER}, 
      #{czrq,jdbcType=TIMESTAMP}, #{xgrq,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="rygwdz_dm" keyProperty="rygwdzDm" parameterType="com.quantchi.tianji.service.search.model.DmWfRygwdzb" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into dm_wf_rygwdzb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userDm != null">
        user_dm,
      </if>
      <if test="gwjsDm != null">
        gwjs_dm,
      </if>
      <if test="qybj != null">
        qybj,
      </if>
      <if test="czrq != null">
        czrq,
      </if>
      <if test="xgrq != null">
        xgrq,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userDm != null">
        #{userDm,jdbcType=INTEGER},
      </if>
      <if test="gwjsDm != null">
        #{gwjsDm,jdbcType=INTEGER},
      </if>
      <if test="qybj != null">
        #{qybj,jdbcType=INTEGER},
      </if>
      <if test="czrq != null">
        #{czrq,jdbcType=TIMESTAMP},
      </if>
      <if test="xgrq != null">
        #{xgrq,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.quantchi.tianji.service.search.model.DmWfRygwdzb">
    <!--@mbg.generated-->
    update dm_wf_rygwdzb
    <set>
      <if test="userDm != null">
        user_dm = #{userDm,jdbcType=INTEGER},
      </if>
      <if test="gwjsDm != null">
        gwjs_dm = #{gwjsDm,jdbcType=INTEGER},
      </if>
      <if test="qybj != null">
        qybj = #{qybj,jdbcType=INTEGER},
      </if>
      <if test="czrq != null">
        czrq = #{czrq,jdbcType=TIMESTAMP},
      </if>
      <if test="xgrq != null">
        xgrq = #{xgrq,jdbcType=TIMESTAMP},
      </if>
    </set>
    where rygwdz_dm = #{rygwdzDm,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.quantchi.tianji.service.search.model.DmWfRygwdzb">
    <!--@mbg.generated-->
    update dm_wf_rygwdzb
    set user_dm = #{userDm,jdbcType=INTEGER},
      gwjs_dm = #{gwjsDm,jdbcType=INTEGER},
      qybj = #{qybj,jdbcType=INTEGER},
      czrq = #{czrq,jdbcType=TIMESTAMP},
      xgrq = #{xgrq,jdbcType=TIMESTAMP}
    where rygwdz_dm = #{rygwdzDm,jdbcType=INTEGER}
  </update>
    <select id="selectByUserDm" resultMap="BaseResultMap">

      select * from dm_wf_rygwdzb where qybj = 1 and user_dm = #{userDm}
    </select>
    <select id="checkLeader" resultType="java.lang.Integer">
      select rygwdz_dm from dm_wf_rygwdzb where gwjs_dm = 10010002 and qybj = 1 and user_dm = #{userDm}
    </select>
</mapper>