<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quantchi.tianji.service.search.dao.ExportDao">
    <select id="getProjectHeadInfo" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
	 IFNULL(a.allProject,0) allProject, IFNULL(b.newProject,0) newProject,IFNULL(b.newTime,0) newTime,
   IFNULL(c.industryNum,0) industryNum,IFNULL(e.talentNum,0) talentNum ,IFNULL(f.geoNum,0) geoNum,
IFNULL(g.`name`,'') `name`,IFNULL(g.mobile,'') mobile, IFNULL(i.fiveNum,0) fiveNum
FROM
(SELECT
					DISTINCT`group`
				FROM
					inv_user_detail
				WHERE
					`group` = #{group}) q
	LEFT JOIN(
		SELECT
			IFNULL(COUNT(vr.id),0) allProject,
			ud.`group`
		FROM
			visit_record vr,
     inv_user_detail ud
		WHERE
			vr.staff_id = ud.user_id
			and vr.`status` IN (2, 3, 4, 5)
		AND ud.`group` = #{group}
	) a on q.`group` = a.`group`
	LEFT JOIN(
		SELECT
			IFNULL(COUNT(v.id),0) newProject,
			IFNULL(MAX(p.update_time),0) newTime,
u.`group`
		FROM
			visit_record v,
			project_record p,
inv_user_detail u
		WHERE
			 u.`group` = #{group}
		and v.`status` IN (2, 3, 4, 5)
		AND v.report_time > #{startDate}
		AND #{endDate} > v.report_time
		AND v.id = p.id
and v.staff_id = u.user_id
	) b on q.`group` = b.`group`
	LEFT JOIN(
		SELECT
			IFNULL(COUNT(pr.id),0) industryNum,

u.`group`
		FROM
			project_record pr,
			visit_record vr,
inv_user_detail u
		WHERE
			pr.id = vr.id
AND u.`group` = #{group}
		AND special_label LIKE CONCAT('%', 6, '%')
		and vr.staff_id = u.user_id
		AND report_time > #{startDate}
		AND #{endDate} >= report_time
	) c on  q.`group` = c.`group`
	LEFT JOIN(
		SELECT
			IFNULL(COUNT(pr.id),0) talentNum,
u.`group`
		FROM
			project_record pr,
			visit_record vr,
inv_user_detail u
		WHERE
			pr.id = vr.id
AND u.`group` = #{group}

		AND special_label LIKE CONCAT('%', 3, '%')
		and vr.staff_id = u.user_id
		AND report_time > #{startDate}
		AND #{endDate} >= report_time
	) e on  q.`group` = e.`group`
	LEFT JOIN(
		SELECT
			IFNULL(COUNT(pr.id),0) geoNum,
u.`group`
		FROM
			project_record pr,
			visit_record vr,
inv_user_detail u
		WHERE
			pr.id = vr.id
AND u.`group` = #{group}

		AND special_label LIKE CONCAT('%', 5, '%')
		and vr.staff_id = u.user_id
		AND report_time > #{startDate}
		AND #{endDate} >= report_time
	) f on  q.`group` = f.`group`
	LEFT JOIN(
		SELECT
			IFNULL(d.`group`,'') `group`,
			IFNULL(u.`name`,'') `name`,
			IFNULL(u.mobile,'') mobile
		FROM
			inv_ding_user u,
			inv_user_detail d
		WHERE
			d.`group` = #{group}
		AND d.job = 1
		AND u.id = d.user_id
	) g on  q.`group` = g.`group`
 LEFT JOIN(
SELECT
			COUNT(pr.id) fiveNum,
u.`group`
		FROM
			project_record pr,
			visit_record vr,
inv_user_detail u
		WHERE
			pr.id = vr.id
AND u.`group` = #{group}

		AND pr.investment_unit = 3
		and vr.staff_id = u.user_id
		AND report_time > #{startDate}
		AND #{endDate} >= report_time
)i  on  q.`group` = i.`group`



    </select>

    <select id="getProjectList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        IFNULL(pr.`name`,'') '项目名称', IFNULL(vr.visit_name,'') '投资方' , IFNULL(pr.investment_scale,'') '固定资产投资', IFNULL(pr.field_info,'') '投资方简介',
				IFNULL(pr.project_info,'') '项目内容', IFNULL(pr.need_land,'') '需用土地',IFNULL(r.`name`,'') '企业联系人',IFNULL(r.mobile,'') '联系方式',
				#{group} as '片区',IFNULL(vr.`status`,'') '进度、备注',IFNULL(pr.type,'') '产业类型', '-' AS '研判结果'
        FROM
        project_record pr,
        visit_record vr LEFT JOIN receptionist_info r  on  vr.id = r.visit_id
        WHERE
        pr.id = vr.id
        AND vr.staff_id IN (
        SELECT
        user_id
        FROM
        inv_user_detail
        WHERE
        `group` = #{group}
        ) AND report_time >= #{startDate} and   #{endDate} >= report_time
        and r.id in (SELECT MIN(id) from receptionist_info ri where vr.id = ri.visit_id)
    </select>

    <select id="getPerformanceHeadInfo" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
        #{group} `group`,
        DATE_FORMAT(MAX(p.update_time), '%m') date
        FROM
        visit_record v,
        project_record p
        WHERE
        v.staff_id IN (
        SELECT
        user_id
        FROM
        inv_user_detail
        WHERE
        `group` = #{group}
        )
        AND v.report_time >= #{startDate}
        AND   #{endDate} >= v.report_time
        AND v.id = p.id
    </select>

    <select id="getPerformanceList" parameterType="java.util.Map" resultType="java.util.Map">
          select u.id, u.name,u.latitude, u.longitude, IFNULL(a. visitNum,0) visitNum, IFNULL(b.receptionNum,0) receptionNum ,
 IFNULL(c.projectNum,0) projectNum, IFNULL(d.excellentNum,0) excellentNum, IFNULL(e.leaderNum,0) leaderNum  from 
(SELECT
        u.name ,u.id ,d.latitude, d.longitude
        FROM
inv_ding_user u,
        inv_user_detail d 
        WHERE
u.id = d.user_id and
        d.`group` = #{group}) u
LEFT JOIN (select COUNT(id) visitNum, staff_id from visit_record where `status` in (1,2)  and staff_id in (SELECT
        user_id
        FROM
        inv_user_detail
        WHERE
        `group` = #{group}) AND update_time >= #{startDate}
        AND   #{endDate} >= update_time GROUP BY staff_id) a on u.id = a.staff_id
LEFT JOIN (select IFNULL(SUM(p.times),0) receptionNum , v.staff_id  from visit_record v, project_record p where  p.id = v.id and v.`status` in (1,2)  and v.staff_id in (SELECT
        user_id
        FROM
        inv_user_detail
        WHERE
        `group` = #{group}) AND v.update_time >= #{startDate}
        AND   #{endDate} >= v.update_time GROUP BY v.staff_id)b on u.id = b.staff_id
LEFT JOIN (select COUNT(v.id) projectNum, v.staff_id from visit_record v, project_record p where v.`status` in (2)  and v.staff_id in (SELECT
        user_id
        FROM
        inv_user_detail
        WHERE
        `group` = #{group}) AND v.update_time >= #{startDate}
        AND   #{endDate} >= v.update_time
	and p.name is not NULL AND p.id = v.id GROUP BY v.staff_id)c on u.id = c.staff_id
LEFT JOIN (select COUNT(v.id) excellentNum, v.staff_id from visit_record v, project_record p where v.`status` in (2)  and v.staff_id in (SELECT
        user_id
        FROM
        inv_user_detail
        WHERE
        `group` = #{group}) AND v.update_time >= #{startDate}
        AND   #{endDate} >= v.update_time
	and p.name is not NULL AND p.id = v.id and special_label LIKE CONCAT('%','7','%')  GROUP BY v.staff_id)d on u.id = d.staff_id
LEFT JOIN(select COUNT(v.id) leaderNum, v.staff_id from visit_record v, project_record p where v.`status` in (2)  and v.staff_id in (SELECT
        user_id
        FROM
        inv_user_detail
        WHERE
        `group` = #{group}) AND v.update_time >= #{startDate}
        AND   #{endDate} >= v.update_time
	and p.name is not NULL AND p.id = v.id and special_label LIKE CONCAT('%','4','%') GROUP BY v.staff_id)e on u.id = e.staff_id
    </select>

    <select id="getSignTudeList" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
	GROUP_CONCAT(
		CONCAT(
			visit_longitude,
			',',
			visit_latitude
		) SEPARATOR '|'
	) tude,
DATE_FORMAT(create_time, '%Y-%m-%d') date
FROM
	sign_record
WHERE
	staff_id = #{performanceStaffId}

	AND create_time >= #{startDate}
        AND   #{endDate} >= create_time
GROUP BY
	DATE_FORMAT(create_time, '%Y-%m-%d')
    </select>

    <select id="getForeignList" parameterType="java.util.Map" resultType="java.lang.String">
                SELECT
            visit_partner
        FROM
            visit_record v,
            project_record p
        WHERE
            v.`status` IN (2)
        AND v.staff_id IN (
            SELECT
                user_id
            FROM
                inv_user_detail
            WHERE
                `group` = #{group}
        )
        AND v.update_time >= #{startDate}
        AND #{endDate} >= v.update_time
        AND p. NAME IS NOT NULL
        AND p.id = v.id
        AND special_label LIKE CONCAT('%', '2', '%')
        AND v.staff_id = #{performanceStaffId}
    </select>

    <select id="getImportList" parameterType="java.util.Map" resultType="java.util.Map">
        select a.`group`, IFNULL(b.visitNum,0) visitNum, IFNULL(c.wantNum,0) wantNum,
                IFNULL(e.fiveBillionNum,0) fiveBillionNum, IFNULL(f.reportNum,0) reportNum ,
                IFNULL(g.visitAllNum,0) visitAllNum, IFNULL(h.wantAllNum,0) wantAllNum ,
                IFNULL(j.reportAllNum,0) reportAllNum, IFNULL(k.tude,0) tude,IFNULL(m.students,0) students ,IFNULL(n.receptionistNum,0) receptionistNum,
                IFNULL(q.receptionistAllNum,0) receptionistAllNum
        from
            (select DISTINCT `group`  from inv_user_detail where `group` in
                <foreach collection="groupList" index="index" item="item" open="("
                         separator="," close=")">
                    #{item}
                </foreach>
            )a
        LEFT JOIN (select COUNT(i.id) visitNum, i.`group` from (
                select vr.id, d.`group` from visit_record vr , inv_user_detail d where `status` in (1)  and vr.staff_id = d.user_id
                        AND d.`group` in
                        <foreach collection="groupList" index="index" item="item" open="("
                                 separator="," close=")">
                            #{item}
                        </foreach>
                        AND vr.update_time >= #{startDate}
                        AND   #{endDate} >= vr.update_time
                UNION
                select vr.id, d.`group` from visit_record vr , inv_user_detail d where    vr.staff_id = d.user_id
                        AND d.`group` in
                        <foreach collection="groupList" index="index" item="item" open="("
                                 separator="," close=")">
                            #{item}
                        </foreach>
                        AND vr.report_time >= #{startDate}
                        AND   #{endDate} >= vr.report_time) i GROUP BY i.`group`
                )b on a.`group` = b.`group`
        LEFT JOIN (select COUNT(vr.id) wantNum, `group` from visit_record vr , inv_user_detail d,project_record pr where  vr.staff_id = d.user_id 
                        AND d.`group` in
                        <foreach collection="groupList" index="index" item="item" open="("
                                 separator="," close=")">
                            #{item}
                        </foreach>
                        AND vr.report_time >= #{startDate}
                        and pr.intention_status in (0)
                        and pr.id = vr.id
                        AND   #{endDate} >= vr.report_time GROUP BY d.`group`
                  ) c on a.`group` = c.`group`
        LEFT JOIN ( select COUNT(vr.id) fiveBillionNum, `group` from visit_record vr , inv_user_detail d,project_record pr where  vr.staff_id = d.user_id 
                        AND d.`group` in
                        <foreach collection="groupList" index="index" item="item" open="("
                                 separator="," close=")">
                            #{item}
                        </foreach>
                        AND vr.report_time >= #{startDate}
                        and pr.id = vr.id
                        and pr.investment_unit = 3
                        AND   #{endDate} >= vr.report_time GROUP BY d.`group`
                    ) e on a.`group` = e.`group`
        LEFT JOIN (select COUNT(vr.id) reportNum, `group` from visit_record vr , inv_user_detail d,project_record pr where  vr.staff_id = d.user_id 
                        AND d.`group` in
                        <foreach collection="groupList" index="index" item="item" open="("
                                 separator="," close=")">
                            #{item}
                        </foreach>
                        AND vr.report_time >= #{startDate}
                                and pr.id = vr.id
                        AND   #{endDate} >= vr.report_time GROUP BY d.`group`
                        )f on a.`group` = f.`group`
        LEFT JOIN (
                select vr.id visitAllNum , d.`group` from visit_record vr , inv_user_detail d where `status`  in (1,2,3,4,5)  and vr.staff_id = d.user_id 
                    AND d.`group` in
                    <foreach collection="groupList" index="index" item="item" open="("
                             separator="," close=")">
                        #{item}
                    </foreach>
                    GROUP BY d.`group`
                )g on a.`group` = g.`group`
        LEFT JOIN (
                select COUNT(vr.id) wantAllNum, `group` from visit_record vr , inv_user_detail d,project_record pr where  vr.staff_id = d.user_id 
                        AND d.`group` in
                        <foreach collection="groupList" index="index" item="item" open="("
                                 separator="," close=")">
                            #{item}
                        </foreach>
                        AND vr.report_time is not NULL
                        and pr.intention_status in (0)
                        and pr.id = vr.id
                        GROUP BY d.`group`
                )h on a.`group` = h.`group`
        LEFT JOIN (
                 select COUNT(vr.id) reportAllNum, `group` from visit_record vr , inv_user_detail d,project_record pr where  vr.staff_id = d.user_id 
                        AND d.`group` in
                        <foreach collection="groupList" index="index" item="item" open="("
                                 separator="," close=")">
                            #{item}
                        </foreach>
                        AND vr.report_time is not NULL
                        and pr.id = vr.id
                        GROUP BY d.`group`
                )j on a.`group` = j.`group`
        LEFT JOIN (
                select GROUP_CONCAT(CONCAT(IFNULL(visit_longitude,0),',',IFNULL(visit_latitude,0)) SEPARATOR '|') tude,`group`
                from visit_record vr , inv_user_detail d,project_record pr
                where  vr.staff_id = d.user_id
                AND d.`group` in
                <foreach collection="groupList" index="index" item="item" open="("
                         separator="," close=")">
                    #{item}
                </foreach>
                AND vr.report_time >= #{startDate}
                and pr.id = vr.id
                and pr.special_label like  '%3%'
                AND   #{endDate} >= vr.report_time GROUP BY `group`
                )k on a.`group` = k.`group`
        LEFT JOIN (
                select SUM(pr.students) students,`group` from visit_record vr , inv_user_detail d,project_record pr where  vr.staff_id = d.user_id
                AND d.`group` in
                <foreach collection="groupList" index="index" item="item" open="("
                         separator="," close=")">
                    #{item}
                </foreach>
                AND vr.report_time >= #{startDate}
                and pr.id = vr.id
                and pr.students != NULL
                AND   #{endDate} >= vr.report_time GROUP BY d.`group`
              ) m on a.`group` = m.`group`
        LEFT JOIN (
            select SUM(receptionistNum) receptionistNum, i.`group` from (
            select COUNT(r.id) receptionistNum, d.`group`
            from visit_record vr LEFT JOIN receptionist_info r ON vr.id = r.visit_id, inv_user_detail d
            where `status` in (1)  and vr.staff_id = d.user_id
            AND d.`group` in
            <foreach collection="groupList" index="index" item="item" open="("
                     separator="," close=")">
                #{item}
            </foreach>
            AND vr.update_time >= #{startDate}
            AND   #{endDate} >= vr.update_time  GROUP BY d.`group`
            UNION
            select COUNT(r.id) receptionistNum, d.`group` from visit_record vr LEFT JOIN receptionist_info r ON vr.id = r.visit_id, inv_user_detail d
            where    vr.staff_id = d.user_id
            AND d.`group` in
            <foreach collection="groupList" index="index" item="item" open="("
                     separator="," close=")">
                #{item}
            </foreach>
            AND vr.report_time >= #{startDate}
            AND   #{endDate} >= vr.report_time GROUP BY d.`group`) i GROUP BY i.`group`
            )n on a.`group`=n.`group`
        LEFT JOIN (
            select COUNT(r.id) receptionistAllNum, d.`group` from visit_record vr , receptionist_info r ,  inv_user_detail d
            where `status`  in (1,2,3,4,5)  and vr.staff_id = d.user_id
            and vr.id = r.visit_id
            AND d.`group` in
            <foreach collection="groupList" index="index" item="item" open="("
                     separator="," close=")">
                #{item}
            </foreach>
            GROUP BY d.`group`
            ) q ON a.`group` = q.`group`
    </select>

    <select id="getStudentList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            pr.students,
            vr.visit_longitude longitude,
            vr.visit_latitude latitude
        FROM
            visit_record vr,
            inv_user_detail d,
            project_record pr
        WHERE
            vr.staff_id = d.user_id
        AND d.`group` IN (#{group})
        AND vr.report_time >= #{startDate}
        AND pr.id = vr.id
        AND pr.students != NULL
        AND pr.students > 0
        AND #{endDate} >= vr.report_time
    </select>

    <select id="getTotalImportList" parameterType="java.util.Map" resultType="java.util.Map">
      select '合计' `group`, IFNULL(SUM(b.visitNum),0) visitNum, IFNULL(SUM(c.wantNum),0) wantNum,
IFNULL(SUM(e.fiveBillionNum),0) fiveBillionNum, IFNULL(SUM(f.reportNum),0) reportNum ,
IFNULL(SUM(g.visitAllNum),0) visitAllNum, IFNULL(SUM(h.wantAllNum),0) wantAllNum ,IFNULL(SUM(j.reportAllNum),0) reportAllNum,
IFNULL(SUM(m.students),0) students,IFNULL(SUM(n.receptionistNum),0) receptionistNum, IFNULL(SUM(q.receptionistAllNum),0) receptionistAllNum
from 
(select DISTINCT `group`  from inv_user_detail where `group` in 
<foreach collection="groupList" index="index" item="item" open="("
                     separator="," close=")">
                #{item}
            </foreach>
)a 
LEFT JOIN (select COUNT(i.id) visitNum, i.`group` from (
select vr.id, d.`group` from visit_record vr , inv_user_detail d where `status` in (1)  and vr.staff_id = d.user_id 
				AND d.`group` in 
				<foreach collection="groupList" index="index" item="item" open="("
                     separator="," close=")">
                #{item}
            </foreach> 
				AND vr.update_time >= #{startDate}
        AND   #{endDate} >= vr.update_time 
UNION
select vr.id, d.`group` from visit_record vr , inv_user_detail d where    vr.staff_id = d.user_id 
				AND d.`group` in 
				<foreach collection="groupList" index="index" item="item" open="("
                     separator="," close=")">
                #{item}
            </foreach> 
				AND vr.report_time >= #{startDate}
        AND   #{endDate} >= vr.report_time) i GROUP BY i.`group`)b on a.`group` = b.`group`
LEFT JOIN (select IFNULL(COUNT(vr.id),0) wantNum, `group` from visit_record vr , inv_user_detail d,project_record pr where  vr.staff_id = d.user_id 
				AND d.`group` in 
				<foreach collection="groupList" index="index" item="item" open="("
                     separator="," close=")">
                #{item}
            </foreach> 
				AND vr.report_time >= #{startDate}
				and pr.intention_status in (0)
				and pr.id = vr.id
        AND   #{endDate} >= vr.report_time GROUP BY d.`group`) c on a.`group` = c.`group`
LEFT JOIN ( select COUNT(vr.id) fiveBillionNum, `group` from visit_record vr , inv_user_detail d,project_record pr where  vr.staff_id = d.user_id 
				AND d.`group` in 
				<foreach collection="groupList" index="index" item="item" open="("
                     separator="," close=")">
                #{item}
            </foreach> 
				AND vr.report_time >= #{startDate}
				and pr.id = vr.id
				and pr.investment_unit = 3
        AND   #{endDate} >= vr.report_time GROUP BY d.`group`) e on a.`group` = e.`group`
LEFT JOIN (select COUNT(vr.id) reportNum, `group` from visit_record vr , inv_user_detail d,project_record pr where  vr.staff_id = d.user_id 
				AND d.`group` in 
				<foreach collection="groupList" index="index" item="item" open="("
                     separator="," close=")">
                #{item}
            </foreach> 
				AND vr.report_time >= #{startDate}
				and pr.id = vr.id
        AND   #{endDate} >= vr.report_time GROUP BY d.`group`)f on a.`group` = f.`group`
LEFT JOIN (
select vr.id visitAllNum , d.`group` from visit_record vr , inv_user_detail d where `status`  in (1,2,3,4,5)  and vr.staff_id = d.user_id 
				AND d.`group` in 
				<foreach collection="groupList" index="index" item="item" open="("
                     separator="," close=")">
                #{item}
            </foreach> 
				GROUP BY d.`group`
)g on a.`group` = g.`group`
LEFT JOIN (
select COUNT(vr.id) wantAllNum, `group` from visit_record vr , inv_user_detail d,project_record pr where  vr.staff_id = d.user_id 
				AND d.`group` in 
				<foreach collection="groupList" index="index" item="item" open="("
                     separator="," close=")">
                #{item}
            </foreach> 
				AND vr.report_time is not NULL
				and pr.intention_status in (0)
				and pr.id = vr.id
        GROUP BY d.`group`
)h on a.`group` = h.`group`
LEFT JOIN (
 select COUNT(vr.id) reportAllNum, `group` from visit_record vr , inv_user_detail d,project_record pr where  vr.staff_id = d.user_id 
				AND d.`group` in 
				<foreach collection="groupList" index="index" item="item" open="("
                     separator="," close=")">
                #{item}
            </foreach> 
				AND vr.report_time is not NULL
				and pr.id = vr.id
        GROUP BY d.`group`
)j on a.`group` = j.`group`
LEFT JOIN (
 select GROUP_CONCAT(CONCAT(IFNULL(visit_longitude,0),',',IFNULL(visit_latitude,0)) SEPARATOR '|') tude,`group` 
 from visit_record vr , inv_user_detail d,project_record pr 
 where  vr.staff_id = d.user_id 
				AND d.`group` in 
				<foreach collection="groupList" index="index" item="item" open="("
                     separator="," close=")">
                #{item}
            </foreach> 
				AND vr.report_time >= #{startDate}
				and pr.id = vr.id
				and pr.special_label like  '%3%'
        AND   #{endDate} >= vr.report_time GROUP BY 	`group`
)k on a.`group` = k.`group`
LEFT JOIN (
	 select SUM(pr.students) students,`group` from visit_record vr , inv_user_detail d,project_record pr where  vr.staff_id = d.user_id 
				AND d.`group` in 
				<foreach collection="groupList" index="index" item="item" open="("
                     separator="," close=")">
                #{item}
            </foreach> 
				AND vr.report_time >= #{startDate}
				and pr.id = vr.id
				and pr.students != NULL
        AND   #{endDate} >= vr.report_time GROUP BY d.`group`
) m on a.`group` = m.`group`
LEFT JOIN (
		select SUM(receptionistNum) receptionistNum, i.`group` from (
			select COUNT(r.id) receptionistNum, d.`group` 
			from visit_record vr LEFT JOIN receptionist_info r ON vr.id = r.visit_id, inv_user_detail d 
			where `status` in (1)  and vr.staff_id = d.user_id 
			AND d.`group` in 
			<foreach collection="groupList" index="index" item="item" open="("
                     separator="," close=")">
                #{item}
            </foreach> 
			AND vr.update_time >= #{startDate}
			AND   #{endDate} >= vr.update_time  GROUP BY d.`group`
		UNION
			select COUNT(r.id) receptionistNum, d.`group` from visit_record vr LEFT JOIN receptionist_info r ON vr.id = r.visit_id, inv_user_detail d 
			where    vr.staff_id = d.user_id 
			AND d.`group` in 
			<foreach collection="groupList" index="index" item="item" open="("
                     separator="," close=")">
                #{item}
            </foreach> 
			AND vr.report_time >= #{startDate}
			AND   #{endDate} >= vr.report_time GROUP BY d.`group`) i GROUP BY i.`group`
)n on a.`group`=n.`group`
LEFT JOIN (
		select COUNT(r.id) receptionistAllNum, d.`group` from visit_record vr , receptionist_info r ,  inv_user_detail d 
		where `status`  in (1,2,3,4,5)  and vr.staff_id = d.user_id 
		and vr.id = r.visit_id
		AND d.`group` in 
		<foreach collection="groupList" index="index" item="item" open="("
                     separator="," close=")">
                #{item}
            </foreach> 
		GROUP BY d.`group`
) q ON a.`group` = q.`group`
  
    </select>

    <select id="getExportGroupList" resultType="java.util.HashMap">
        SELECT
            `group`,
            region
        FROM
            inv_user_detail
        where
			`group` is not null
			and `group` != ''
        GROUP BY
            `group`,
            region
    </select>

    <select id="getExportHistory" resultType="java.util.HashMap" parameterType="java.lang.String">
        SELECT
	`name`, DATE_FORMAT(date,'%Y-%m-%d %H:%i:%s') date, id, user_id userId
FROM
	inv_export_history
WHERE
	user_id = #{userId}
ORDER BY
	date DESC
    </select>

    <insert id="addExportHistory" parameterType="java.util.Map">
        insert into inv_export_history(name, date, user_id) values (#{name}, #{date}, #{userId})
    </insert>

    <select id="getVisitInfo" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        IFNULL(v.visit_name,'') companyName,
        IFNULL(r.`name`,'') name,
        IFNULL(r.job,'') job,
        IFNULL(r.work_address,'') companyAddress,
        IFNULL(r.mobile,'') phone,
        IFNULL(v.visit_time,'') visitDate,
        IFNULL(p.project_info,'') projectInfo,
        '' remark
        FROM
        receptionist_info r,
        visit_record v,
        project_record p
        WHERE
        v.id = r.visit_id
        AND visit_type = 0
        AND v.id = p.id
        AND (
        (
        v.`status` = 1
        AND  #{endDate} >= v.update_time
        AND v.update_time >= #{startDate}
        )
        OR (
          #{endDate} >= v.report_time
        AND v.report_time >= #{startDate}
        )
        )
    </select>
</mapper>