<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quantchi.tianji.service.search.dao.PreferenceInfoMapper">
  <resultMap id="BaseResultMap" type="com.quantchi.tianji.service.search.model.PreferenceInfo">
    <!--@mbg.generated-->
    <!--@Table preference_info-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="staff_id" jdbcType="VARCHAR" property="staffId" />
    <result column="investment_scale" jdbcType="VARCHAR" property="investmentScale" />
    <result column="label" jdbcType="VARCHAR" property="label" />
    <result column="field" jdbcType="VARCHAR" property="field" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="range_address" jdbcType="VARCHAR" property="rangeAddress" />
    <result column="range_distance" jdbcType="VARCHAR" property="rangeDistance" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="range_unit" jdbcType="VARCHAR" property="rangeUnit" />
    <result column="location_latitude" jdbcType="DOUBLE" property="locationAte" />
    <result column="location_longitude" jdbcType="DOUBLE" property="locationLte" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, staff_id, investment_scale, `label`, field, area, range_address, range_distance, 
    create_time, update_time, range_unit, location_latitude, location_longitude
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from preference_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from preference_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.quantchi.tianji.service.search.model.PreferenceInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into preference_info (staff_id, investment_scale, `label`, 
      field, area, range_address, 
      range_distance, create_time, update_time
      )
    values (#{staffId,jdbcType=VARCHAR}, #{investmentScale,jdbcType=VARCHAR}, #{label,jdbcType=VARCHAR}, 
      #{field,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, #{rangeAddress,jdbcType=VARCHAR}, 
      #{rangeDistance,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.quantchi.tianji.service.search.model.PreferenceInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into preference_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="staffId != null">
        staff_id,
      </if>
      <if test="investmentScale != null">
        investment_scale,
      </if>
      <if test="label != null">
        `label`,
      </if>
      <if test="field != null">
        field,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="rangeAddress != null">
        range_address,
      </if>
      <if test="rangeDistance != null">
        range_distance,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="rangeUnit != null">
        range_unit,
      </if>
      <if test="locationAte != null">
        location_latitude,
      </if>
      <if test="locationLte != null">
        location_longitude,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="staffId != null">
        #{staffId,jdbcType=VARCHAR},
      </if>
      <if test="investmentScale != null">
        #{investmentScale,jdbcType=VARCHAR},
      </if>
      <if test="label != null">
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="field != null">
        #{field,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="rangeAddress != null">
        #{rangeAddress,jdbcType=VARCHAR},
      </if>
      <if test="rangeDistance != null">
        #{rangeDistance,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rangeUnit != null">
        #{rangeUnit,jdbcType=VARCHAR},
      </if>
      <if test="locationAte != null">
        #{locationAte,jdbcType=DOUBLE},
      </if>
      <if test="locationLte != null">
        #{locationLte,jdbcType=DOUBLE},
      </if>

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.quantchi.tianji.service.search.model.PreferenceInfo">
    <!--@mbg.generated-->
    update preference_info
    <set>
      <if test="staffId != null">
        staff_id = #{staffId,jdbcType=VARCHAR},
      </if>
      <if test="investmentScale != null">
        investment_scale = #{investmentScale,jdbcType=VARCHAR},
      </if>
      <if test="label != null">
        `label` = #{label,jdbcType=VARCHAR},
      </if>
      <if test="field != null">
        field = #{field,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="rangeAddress != null">
        range_address = #{rangeAddress,jdbcType=VARCHAR},
      </if>
      <if test="rangeDistance != null">
        range_distance = #{rangeDistance,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rangeUnit != null">
        range_unit = #{rangeUnit,jdbcType=VARCHAR},
      </if>
      <if test="locationAte != null">
        location_latitude = #{locationAte,jdbcType=DOUBLE},
      </if>
      <if test="locationLte != null">
        location_longitude = #{locationLte,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.quantchi.tianji.service.search.model.PreferenceInfo">
    <!--@mbg.generated-->
    update preference_info
    set staff_id = #{staffId,jdbcType=VARCHAR},
      investment_scale = #{investmentScale,jdbcType=VARCHAR},
      `label` = #{label,jdbcType=VARCHAR},
      field = #{field,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      range_address = #{rangeAddress,jdbcType=VARCHAR},
      range_distance = #{rangeDistance,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      range_unit = #{rangeUnit,jdbcType=VARCHAR},
      location_latitude = #{locationAte,jdbcType=DOUBLE},
      location_longitude = #{locationLte,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="fetchOne" parameterType="Object" resultMap="BaseResultMap">
    select * from preference_info
    <where>
      <if test= "staffId != null">
        staff_id = #{staffId}
      </if>
    </where>
  </select>
</mapper>