<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quantchi.tianji.service.search.dao.ProjectRecordMapper">
  <resultMap id="BaseResultMap" type="com.quantchi.tianji.service.search.model.ProjectRecord">
    <!--@mbg.generated-->
    <!--@Table project_record-->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="intention_status" jdbcType="VARCHAR" property="intentionStatus" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="times" jdbcType="INTEGER" property="times" />
    <result column="students" jdbcType="INTEGER" property="students" />
    <result column="project_label" jdbcType="VARCHAR" property="projectLabel" />
    <result column="field" jdbcType="VARCHAR" property="field" />
    <result column="field_info" jdbcType="VARCHAR" property="fieldInfo" />
    <result column="project_info" jdbcType="VARCHAR" property="projectInfo" />
    <result column="receive_photo" jdbcType="VARCHAR" property="receivePhoto" />
    <result column="receive_record" jdbcType="VARCHAR" property="receiveRecord" />
    <result column="intention_move_time" jdbcType="VARCHAR" property="intentionMoveTime" />
    <result column="need_land" jdbcType="VARCHAR" property="needLand" />
    <result column="need_office" jdbcType="VARCHAR" property="needOffice" />
    <result column="need_remark" jdbcType="VARCHAR" property="needRemark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="investment_unit" jdbcType="INTEGER" property="investmentUnit" />
    <result column="special_label" jdbcType="VARCHAR" property="specialLabel" />
    <result column="visit_name" jdbcType="VARCHAR" property="visitName" />
    <result column="special_label" jdbcType="VARCHAR" property="specialLabel" />
  </resultMap>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.quantchi.tianji.service.search.model.ProjectRecord" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into project_record (`name`, intention_status, `type`, 
      times, students, project_label, 
      field, field_info, project_info, 
      receive_photo, receive_record, intention_move_time, 
      need_land, need_office, need_remark, 
      create_time, update_time, investment_scale,
      investment_unit, visit_name, special_label)
    values (#{name,jdbcType=VARCHAR}, #{intentionStatus,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{times,jdbcType=INTEGER}, #{students,jdbcType=INTEGER}, #{projectLabel,jdbcType=VARCHAR},
      #{field,jdbcType=VARCHAR}, #{fieldInfo,jdbcType=VARCHAR}, #{projectInfo,jdbcType=VARCHAR}, 
      #{receivePhoto,jdbcType=VARCHAR}, #{receiveRecord,jdbcType=VARCHAR}, #{intentionMoveTime,jdbcType=VARCHAR}, 
      #{needLand,jdbcType=VARCHAR}, #{needOffice,jdbcType=VARCHAR}, #{needRemark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{investmentScale,jdbcType=VARCHAR},
      #{investmentUnit,jdbcType=INTEGER}, #{visitName,jdbcType=VARCHAR}, #{specialLabel,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.quantchi.tianji.service.search.model.ProjectRecord" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into project_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        `id`,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="intentionStatus != null">
        intention_status,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="times != null">
        times,
      </if>
      <if test="students != null">
        students,
      </if>
      <if test="projectLabel != null">
        project_label,
      </if>
      <if test="field != null">
        field,
      </if>
      <if test="fieldInfo != null">
        field_info,
      </if>
      <if test="projectInfo != null">
        project_info,
      </if>
      <if test="receivePhoto != null">
        receive_photo,
      </if>
      <if test="receiveRecord != null">
        receive_record,
      </if>
      <if test="intentionMoveTime != null">
        intention_move_time,
      </if>
      <if test="needLand != null">
        need_land,
      </if>
      <if test="needOffice != null">
        need_office,
      </if>
      <if test="needRemark != null">
        need_remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="investmentScale != null">
        investment_scale,
      </if>
      <if test="visitName != null">
        visit_name,
      </if>
      <if test="specialLabel != null">
        special_label,
      </if>
      <if test="investmentUnit != null">
        investment_unit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="intentionStatus != null">
        #{intentionStatus,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="times != null">
        #{times,jdbcType=INTEGER},
      </if>
      <if test="students != null">
        #{students,jdbcType=INTEGER},
      </if>
      <if test="projectLabel != null">
        #{projectLabel,jdbcType=VARCHAR},
      </if>
      <if test="field != null">
        #{field,jdbcType=VARCHAR},
      </if>
      <if test="fieldInfo != null">
        #{fieldInfo,jdbcType=VARCHAR},
      </if>
      <if test="projectInfo != null">
        #{projectInfo,jdbcType=VARCHAR},
      </if>
      <if test="receivePhoto != null">
        #{receivePhoto,jdbcType=VARCHAR},
      </if>
      <if test="receiveRecord != null">
        #{receiveRecord,jdbcType=VARCHAR},
      </if>
      <if test="intentionMoveTime != null">
        #{intentionMoveTime,jdbcType=VARCHAR},
      </if>
      <if test="needLand != null">
        #{needLand,jdbcType=VARCHAR},
      </if>
      <if test="needOffice != null">
        #{needOffice,jdbcType=VARCHAR},
      </if>
      <if test="needRemark != null">
        #{needRemark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="investmentScale != null">
        #{investmentScale,jdbcType=VARCHAR},
      </if>
      <if test="visitName != null">
        #{visitName,jdbcType=VARCHAR},
      </if>
      <if test="specialLabel != null">
        #{specialLabel,jdbcType=VARCHAR},
      </if>
      <if test="investmentUnit != null">
        #{investmentUnit,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <select id="selectById" parameterType="Object" resultType="com.quantchi.tianji.service.search.model.ProjectRecord">
    <!--@mbg.generated-->
    select * from project_record
    <where>
      <if test= "id != null">
        AND `id` = #{id}
      </if>
    </where>
  </select>
  <update id="updateForPhotoUrl" parameterType="com.quantchi.tianji.service.search.model.ReceptionistInfo">
    <!--@mbg.generated-->
    update project_record
    set
    receive_photo = #{receImg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateById" parameterType="com.quantchi.tianji.service.search.model.ProjectRecord">
    <!--@mbg.generated-->
    update project_record
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="intentionStatus != null">
        intention_status = #{intentionStatus,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=VARCHAR},
      </if>
      <if test="times != null">
        times = #{times,jdbcType=INTEGER},
      </if>
      <if test="students != null">
        students = #{students,jdbcType=INTEGER},
      </if>
      <if test="projectLabel != null">
        project_label = #{projectLabel,jdbcType=VARCHAR},
      </if>
      <if test="field != null">
        field = #{field,jdbcType=VARCHAR},
      </if>
      <if test="fieldInfo != null">
        field_info = #{fieldInfo,jdbcType=VARCHAR},
      </if>
      <if test="projectInfo != null">
        project_info = #{projectInfo,jdbcType=VARCHAR},
      </if>
      <if test="receivePhoto != null">
        receive_photo = #{receivePhoto,jdbcType=VARCHAR},
      </if>
      <if test="receiveRecord != null">
        receive_record = #{receiveRecord,jdbcType=VARCHAR},
      </if>
      <if test="intentionMoveTime != null">
        intention_move_time = #{intentionMoveTime,jdbcType=VARCHAR},
      </if>
      <if test="needLand != null">
        need_land = #{needLand,jdbcType=VARCHAR},
      </if>
      <if test="needOffice != null">
        need_office = #{needOffice,jdbcType=VARCHAR},
      </if>
      <if test="needRemark != null">
        need_remark = #{needRemark,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="investmentScale != null">
        investment_scale = #{investmentScale,jdbcType=VARCHAR},
      </if>
      <if test="investmentUnit != null">
        investment_unit = #{investmentUnit,jdbcType=INTEGER},
      </if>
      <if test="visitName != null">
        visit_name = #{visitName,jdbcType=VARCHAR},
      </if>
      <if test="specialLabel != null">
        special_label = #{specialLabel,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectLastOne" parameterType="Object" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select id from project_record
    ORDER BY create_time DESC LIMIT 1
  </select>
</mapper>