<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quantchi.tianji.service.search.dao.ReceptionistInfoMapper">
  <resultMap id="BaseResultMap" type="com.quantchi.tianji.service.search.model.ReceptionistInfo">
    <!--@mbg.generated-->
    <!--@Table receptionist_info-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="job" jdbcType="VARCHAR" property="job" />
    <result column="origin_type" jdbcType="INTEGER" property="originType" />
    <result column="origin_name" jdbcType="VARCHAR" property="originName" />
    <result column="interrelate_name" jdbcType="VARCHAR" property="interrelateName" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="wechat" jdbcType="VARCHAR" property="wechat" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="work_address" jdbcType="VARCHAR" property="workAddress" />
    <result column="photo_url" jdbcType="VARCHAR" property="photoUrl" />
    <result column="card_id" jdbcType="VARCHAR" property="cardId" />
    <result column="staff_id" jdbcType="VARCHAR" property="staffId" />
    <result column="visit_id" jdbcType="BIGINT" property="visitId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, sex, job, origin_type, origin_name, interrelate_name, mobile, wechat, 
    email, work_address, photo_url, card_id, staff_id, visit_id, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from receptionist_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from receptionist_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.quantchi.tianji.service.search.model.ReceptionistInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into receptionist_info (`name`, sex, job, 
      origin_type, origin_name, interrelate_name, 
      mobile, wechat, email, 
      work_address, photo_url, card_id, 
      staff_id, visit_id, create_time, 
      update_time)
    values (#{name,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, #{job,jdbcType=VARCHAR}, 
      #{originType,jdbcType=INTEGER}, #{originName,jdbcType=VARCHAR}, #{interrelateName,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{wechat,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{workAddress,jdbcType=VARCHAR}, #{photoUrl,jdbcType=VARCHAR}, #{cardId,jdbcType=VARCHAR}, 
      #{staffId,jdbcType=VARCHAR}, #{visitId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>

  <sql id="insertValues">
    <trim suffixOverrides=",">
      <if test="itemKey != null">#{itemKey},</if>
      <if test="itemValue != null">#{itemValue},</if>
      <if test="itemType != null">#{itemType},</if>
      <if test="itemStatus != null">#{itemStatus},</if>
      <if test="updateTime != null">#{updateTime},</if>
      <if test="creatTime != null">#{creatTime},</if>
      <if test="remark != null">#{remark},</if>
    </trim>
  </sql>
  <sql id="insertFields">
    <trim suffixOverrides=",">
      <if test="itemKey != null">item_key,</if>
      <if test="itemValue != null">item_value,</if>
      <if test="itemType != null">item_type,</if>
      <if test="itemStatus != null">item_status,</if>
      <if test="updateTime != null">update_time,</if>
      <if test="creatTime != null">creat_time,</if>
      <if test="remark != null">remark,</if>
    </trim>
  </sql>

  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.quantchi.tianji.service.search.model.ReceptionistInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into receptionist_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="job != null">
        job,
      </if>
      <if test="originType != null">
        origin_type,
      </if>
      <if test="originName != null">
        origin_name,
      </if>
      <if test="interrelateName != null">
        interrelate_name,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="wechat != null">
        wechat,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="workAddress != null">
        work_address,
      </if>
      <if test="photoUrl != null">
        photo_url,
      </if>
      <if test="cardId != null">
        card_id,
      </if>
      <if test="staffId != null">
        staff_id,
      </if>
      <if test="visitId != null">
        visit_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="job != null">
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="originType != null">
        #{originType,jdbcType=INTEGER},
      </if>
      <if test="originName != null">
        #{originName,jdbcType=VARCHAR},
      </if>
      <if test="interrelateName != null">
        #{interrelateName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="workAddress != null">
        #{workAddress,jdbcType=VARCHAR},
      </if>
      <if test="photoUrl != null">
        #{photoUrl,jdbcType=VARCHAR},
      </if>
      <if test="cardId != null">
        #{cardId,jdbcType=VARCHAR},
      </if>
      <if test="staffId != null">
        #{staffId,jdbcType=VARCHAR},
      </if>
      <if test="visitId != null">
        #{visitId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.quantchi.tianji.service.search.model.ReceptionistInfo">
    <!--@mbg.generated-->
    update receptionist_info
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="job != null">
        job = #{job,jdbcType=VARCHAR},
      </if>
      <if test="originType != null">
        origin_type = #{originType,jdbcType=INTEGER},
      </if>
      <if test="originName != null">
        origin_name = #{originName,jdbcType=VARCHAR},
      </if>
      <if test="interrelateName != null">
        interrelate_name = #{interrelateName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        wechat = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="workAddress != null">
        work_address = #{workAddress,jdbcType=VARCHAR},
      </if>
      <if test="photoUrl != null">
        photo_url = #{photoUrl,jdbcType=VARCHAR},
      </if>
      <if test="cardId != null">
        card_id = #{cardId,jdbcType=VARCHAR},
      </if>
      <if test="staffId != null">
        staff_id = #{staffId,jdbcType=VARCHAR},
      </if>
      <if test="visitId != null">
        visit_id = #{visitId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.quantchi.tianji.service.search.model.ReceptionistInfo">
    <!--@mbg.generated-->
    update receptionist_info
    set `name` = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      job = #{job,jdbcType=VARCHAR},
      origin_type = #{originType,jdbcType=INTEGER},
      origin_name = #{originName,jdbcType=VARCHAR},
      interrelate_name = #{interrelateName,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      wechat = #{wechat,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      work_address = #{workAddress,jdbcType=VARCHAR},
      photo_url = #{photoUrl,jdbcType=VARCHAR},
      card_id = #{cardId,jdbcType=VARCHAR},
      staff_id = #{staffId,jdbcType=VARCHAR},
      visit_id = #{visitId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByVisitId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from receptionist_info
    where visit_id = #{visitId,jdbcType=BIGINT}
  </select>

  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from receptionist_info
    where `name` = #{name,jdbcType=BIGINT} AND visit_id = #{visitId}
  </select>

  <select id="coutByStaffId" parameterType="java.lang.String" resultType="java.lang.Integer">
    <!--@mbg.generated-->
    select count(1)
    from receptionist_info
    where staff_id = #{staffId,jdbcType=BIGINT}
  </select>

  <insert id="insertAndReturnId" useGeneratedKeys="true" keyProperty="id" >
    insert into receptionist_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="job != null">
        job,
      </if>
      <if test="originType != null">
        origin_type,
      </if>
      <if test="originName != null">
        origin_name,
      </if>
      <if test="interrelateName != null">
        interrelate_name,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="wechat != null">
        wechat,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="workAddress != null">
        work_address,
      </if>
      <if test="photoUrl != null">
        photo_url,
      </if>
      <if test="cardId != null">
        card_id,
      </if>
      <if test="staffId != null">
        staff_id,
      </if>
      <if test="visitId != null">
        visit_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="job != null">
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="originType != null">
        #{originType,jdbcType=INTEGER},
      </if>
      <if test="originName != null">
        #{originName,jdbcType=VARCHAR},
      </if>
      <if test="interrelateName != null">
        #{interrelateName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="workAddress != null">
        #{workAddress,jdbcType=VARCHAR},
      </if>
      <if test="photoUrl != null">
        #{photoUrl,jdbcType=VARCHAR},
      </if>
      <if test="cardId != null">
        #{cardId,jdbcType=VARCHAR},
      </if>
      <if test="staffId != null">
        #{staffId,jdbcType=VARCHAR},
      </if>
      <if test="visitId != null">
        #{visitId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>