<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quantchi.tianji.service.search.dao.WfLsChbMapper">
  <resultMap id="BaseResultMap" type="com.quantchi.tianji.service.search.model.WfLsChb">
    <!--@mbg.generated-->
    <!--@Table wf_ls_chb-->
    <id column="wfzb_id" jdbcType="VARCHAR" property="wfzbId" />
    <result column="xmjbxx_id" jdbcType="VARCHAR" property="xmjbxxId" />
    <result column="yhyc_dm" jdbcType="INTEGER" property="yhycDm" />
    <result column="spyj" jdbcType="VARCHAR" property="spyj" />
    <result column="czrq" jdbcType="TIMESTAMP" property="czrq" />
    <result column="user_dm" jdbcType="INTEGER" property="userDm" />
    <result column="spzt" jdbcType="INTEGER" property="spzt" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    wfzb_id, xmjbxx_id, yhyc_dm, spyj, czrq, user_dm, spzt
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from wf_ls_chb
    where wfzb_id = #{wfzbId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from wf_ls_chb
    where wfzb_id = #{wfzbId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.quantchi.tianji.service.search.model.WfLsChb">
    <!--@mbg.generated-->
    insert into wf_ls_chb (wfzb_id, xmjbxx_id, yhyc_dm, 
      spyj, czrq, user_dm, 
      spzt)
    values (#{wfzbId,jdbcType=VARCHAR}, #{xmjbxxId,jdbcType=VARCHAR}, #{yhycDm,jdbcType=INTEGER}, 
      #{spyj,jdbcType=VARCHAR}, #{czrq,jdbcType=TIMESTAMP}, #{userDm,jdbcType=INTEGER}, 
      #{spzt,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.quantchi.tianji.service.search.model.WfLsChb">
    <!--@mbg.generated-->
    insert into wf_ls_chb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wfzbId != null">
        wfzb_id,
      </if>
      <if test="xmjbxxId != null">
        xmjbxx_id,
      </if>
      <if test="yhycDm != null">
        yhyc_dm,
      </if>
      <if test="spyj != null">
        spyj,
      </if>
      <if test="czrq != null">
        czrq,
      </if>
      <if test="userDm != null">
        user_dm,
      </if>
      <if test="spzt != null">
        spzt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wfzbId != null">
        #{wfzbId,jdbcType=VARCHAR},
      </if>
      <if test="xmjbxxId != null">
        #{xmjbxxId,jdbcType=VARCHAR},
      </if>
      <if test="yhycDm != null">
        #{yhycDm,jdbcType=INTEGER},
      </if>
      <if test="spyj != null">
        #{spyj,jdbcType=VARCHAR},
      </if>
      <if test="czrq != null">
        #{czrq,jdbcType=TIMESTAMP},
      </if>
      <if test="userDm != null">
        #{userDm,jdbcType=INTEGER},
      </if>
      <if test="spzt != null">
        #{spzt,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.quantchi.tianji.service.search.model.WfLsChb">
    <!--@mbg.generated-->
    update wf_ls_chb
    <set>
      <if test="xmjbxxId != null">
        xmjbxx_id = #{xmjbxxId,jdbcType=VARCHAR},
      </if>
      <if test="yhycDm != null">
        yhyc_dm = #{yhycDm,jdbcType=INTEGER},
      </if>
      <if test="spyj != null">
        spyj = #{spyj,jdbcType=VARCHAR},
      </if>
      <if test="czrq != null">
        czrq = #{czrq,jdbcType=TIMESTAMP},
      </if>
      <if test="userDm != null">
        user_dm = #{userDm,jdbcType=INTEGER},
      </if>
      <if test="spzt != null">
        spzt = #{spzt,jdbcType=INTEGER},
      </if>
    </set>
    where wfzb_id = #{wfzbId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.quantchi.tianji.service.search.model.WfLsChb">
    <!--@mbg.generated-->
    update wf_ls_chb
    set xmjbxx_id = #{xmjbxxId,jdbcType=VARCHAR},
      yhyc_dm = #{yhycDm,jdbcType=INTEGER},
      spyj = #{spyj,jdbcType=VARCHAR},
      czrq = #{czrq,jdbcType=TIMESTAMP},
      user_dm = #{userDm,jdbcType=INTEGER},
      spzt = #{spzt,jdbcType=INTEGER}
    where wfzb_id = #{wfzbId,jdbcType=VARCHAR}
  </update>
    <select id="selectOne" resultMap="BaseResultMap">

      select * from wf_ls_chb where 1=1
      <if test="xmjbxxId != null">
        and xmjbxx_id = #{xmjbxxId,jdbcType=INTEGER}
      </if>
      <if test="yhycDm != null">
        and yhyc_dm = #{yhycDm,jdbcType=INTEGER}
      </if>
      <if test="spyj != null">
        and spyj = #{spyj,jdbcType=VARCHAR}
      </if>
      <if test="czrq != null">
        and czrq = #{czrq,jdbcType=TIMESTAMP}
      </if>
      <if test="userDm != null">
        and user_dm = #{userDm,jdbcType=INTEGER}
      </if>
      order by czrq desc limit 1
    </select>
  <select id="selectDeptDmByXmId" resultType="java.lang.Integer">
      select u.dept_dm from wf_ls_chb c
      INNER JOIN dm_cs_user u where u.user_dm = c.user_dm and xmjbxx_id = #{xmjbxxId}
      order by xgrq desc limit 1
  </select>

  <select id="countByXmId" resultType="java.lang.Integer">
    select count(1) from wf_ls_chb
    where xmjbxx_id = #{xmjbxxId}
  </select>

  <select id="selectStatusDmByXmId" resultType="java.lang.Integer">
    select c.spzt from wf_ls_chb c
    INNER JOIN dm_cs_user u where u.user_dm = c.user_dm and xmjbxx_id = #{xmjbxxId}
    order by xgrq desc limit 1
  </select>
</mapper>