<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quantchi.tianji.service.search.dao.WorkTaskDao">

    <sql id="Base_Column_List">
      id, staff_id,company_id,remark,is_read,create_time,update_time
    </sql>


    <select id="listWorkTasksByUserid" parameterType="java.lang.String" resultType="com.quantchi.tianji.service.search.model.WorkTask" >
        SELECT
            t.id,
            staff_id,
            company_id,
            remark,
            is_read,
            create_time,
            update_time,
            handler_id,
            u. NAME AS staff_name,
            t.`from`,
            STATUS
        FROM
        (
            SELECT
            k.id,
            k.staff_id,
            k.company_id,
            remark,
            is_read,
            k.create_time,
            k.update_time,
            handler_id,
            `from`,
            l.`status`
            FROM
            (
            SELECT
            *
            FROM
            inv_work_task
            WHERE
            handler_id = #{userid}
            <if test="startTime!=null">
                and  create_time > #{startTime}
            </if>
            <if test="isAccept!=null">
                and  is_accept = #{isAccept}
            </if>
        ) k
        LEFT JOIN status_log l ON k.company_id = l.company_id
        ) t
        JOIN inv_ding_user u ON t.staff_id = u.id
        ORDER BY
        t.create_time DESC


    </select>

    <insert id="insert" parameterType="com.quantchi.tianji.service.search.model.WorkTask"  useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO inv_work_task (
            staff_id,
            handler_id,
            company_id,
            remark,
            origin,
            `from`
            )
        VALUES
	        (#{staffId},#{handlerId},#{companyId},#{remark},#{origin},#{from})
    </insert>

    <update id="updateWorkTask" parameterType="com.quantchi.tianji.service.search.model.WorkTask">
        UPDATE inv_work_task
            <set>
                <if test="isRead!=null">is_read = #{isRead},</if>
                <if test="isAccept!=null">is_accept = #{isAccept}</if>
            </set>
        where id = #{id}
    </update>

    <select id="listMyAssignWorkTasks" parameterType="java.lang.String" resultType="com.quantchi.tianji.service.search.model.WorkTask">
          SELECT
            t.id,
            staff_id,
            company_id,
            remark,
            is_read,
            create_time,
            update_time,
            handler_id,
            u1. NAME AS staff_name,
            u2. NAME AS handler_name,
            t.`from`,
            STATUS
        FROM
            (
                SELECT
                    k.id,
                    k.staff_id,
                    k.company_id,
                    remark,
                    is_read,
                    k.create_time,
                    k.update_time,
                    handler_id,
                    `from`,
                    l.`status`
                FROM
                    (
                        SELECT
                            id,
                            staff_id,
                            company_id,
                            remark,
                            is_read,
                            create_time,
                            update_time,
                            handler_id,
                            `from`
                        FROM
                            inv_work_task
                        WHERE
                            staff_id = #{userid}
                    ) k
                LEFT JOIN status_log l ON k.company_id = l.company_id
            ) t
        LEFT JOIN inv_ding_user u1 ON t.staff_id = u1.id
        LEFT JOIN inv_ding_user u2 ON t.handler_id = u2.id
        ORDER BY
            t.create_time DESC
    </select>

    <select id="getNormalNewestLogTask" parameterType="string"
            resultType="com.quantchi.tianji.service.search.model.WorkTask">
         SELECT
           t.*, l.`status`
        FROM
            status_log l,
            inv_work_task t
        WHERE
            l.staff_id = #{staffId}
        AND t.company_id = l.company_id
        AND t.is_accept = 1
        ORDER BY
            l.create_time DESC
        LIMIT 1
    </select>

    <select id="getLeadNewestLogTask" parameterType="string"
            resultType="com.quantchi.tianji.service.search.model.WorkTask">
        SELECT
            *
        FROM
            inv_work_task
        WHERE
            company_id = (
                SELECT
                    company_id
                FROM
                    status_log
                WHERE
                    company_id IN (
                        SELECT
                            company_id
                        FROM
                            inv_work_task
                        WHERE
                            staff_id = #{staffId} and is_accept=1
                    )
                ORDER BY
                    create_time DESC
                LIMIT 1
            )  limit 1
    </select>


    <select id="listHandleTaskCompanyIds" parameterType="string" resultType="string">
        SELECT
            company_id
        FROM
            inv_work_task
        WHERE
            handler_id = #{staffId}
        <if test="from!=null">
            and `from`=#{from}
        </if>
    </select>

    <select id="listAssignTaskCompanyIds" parameterType="string" resultType="string">
        SELECT
            company_id
        FROM
            inv_work_task
        WHERE
            staff_id = #{staffId}
        <if test="from!=null">
            and `from`=#{from}
        </if>
    </select>

    <select id="getTaskByCompanyId" parameterType="string" resultType="com.quantchi.tianji.service.search.model.WorkTask">
        SELECT
            k.id,
            staff_id,
            company_id,
            remark,
            is_read,
            create_time,
            update_time,
            handler_id,
            u1. NAME AS staff_name,
            u2. NAME AS handler_name,
            k.`from`,
            k.origin
        FROM
            (
                SELECT
                    id,
                    staff_id,
                    company_id,
                    remark,
                    is_read,
                    create_time,
                    update_time,
                    handler_id,
                    `from`,
                    origin
                FROM
                    inv_work_task
                WHERE
                    company_id = #{companyId}
            ) k
        LEFT JOIN inv_ding_user u1 ON k.staff_id = u1.id
        LEFT JOIN inv_ding_user u2 ON k.handler_id = u2.id
        ORDER BY
            k.create_time DESC
    </select>

    <select id="listCompanyIdsByTime" resultType="string">
        SELECT
            company_id
        FROM
            inv_work_task
        WHERE
            handler_id = #{staffId}
            <if test="channelTime!=null">
                AND create_time > #{channelTime}
            </if>
    </select>

    <select id="listAssignCompanyIdsByTime" resultType="string">
        SELECT
        company_id
        FROM
        inv_work_task
        WHERE
        staff_id = #{staffId}
        <if test="channelTime!=null">
            AND create_time > #{channelTime}
        </if>
    </select>

    <select id="listAllNormalTasksWithStatus" parameterType="string"
            resultType="com.quantchi.tianji.service.search.model.WorkTask">
        SELECT
            t.id,
            staff_id,
            company_id,
            remark,
            is_read,
            create_time,
            update_time,
            handler_id,
            is_accept,
            u. NAME AS staff_name,
            t.`from`,
            t.origin
        FROM
            (
                SELECT
                    *
                FROM
                    inv_work_task
                WHERE
                    handler_id = #{staffId}
                    <if test="isAccept!=null">
                        and is_accept=#{isAccept}
                    </if>
            ) t
        JOIN inv_ding_user u ON t.staff_id = u.id
        ORDER BY
            t.create_time DESC
    </select>

    <select id="listAllLeadTasksWithStatus" parameterType="string"
            resultType="com.quantchi.tianji.service.search.model.WorkTask">
        SELECT
            t.id,
            staff_id,
            company_id,
            remark,
            is_read,
            create_time,
            update_time,
            handler_id,
            is_accept,
            u1. NAME AS staff_name,
            u2. NAME AS handler_name,
            t.`from`,
            t.origin
        FROM
        (
            SELECT
            *
            FROM
            inv_work_task
            WHERE
            staff_id = #{staffId}
            <if test = "isAccept!=null">
                AND is_accept = #{isAccept}
            </if>
        ) t
        LEFT JOIN inv_ding_user u1 ON t.staff_id = u1.id
        LEFT JOIN inv_ding_user u2 ON t.handler_id = u2.id
        ORDER BY
        t.create_time DESC
    </select>

    <select id="listTasksByCompanyIds" resultType="com.quantchi.tianji.service.search.model.WorkTask">
        SELECT
        t.*, u. NAME AS handlerName
        FROM
        (
        SELECT
        *
        FROM
        inv_work_task
        WHERE
        company_id IN <foreach item = "item"  index="index" collection = "companyIds" open = "(" separator="," close =")">
          #{item}
        </foreach>
        ) t
        LEFT JOIN inv_ding_user u ON t.handler_id = u.id
    </select>

    <select id="listNewHandleTasksByTime" resultType="com.quantchi.tianji.service.search.model.WorkTask">
        SELECT
            *
        FROM
            inv_work_task
        WHERE
            handler_id = #{staffId}
        AND is_accept = 0
        AND create_time > #{messageTime}
    </select>

    <select id="countNewTask" resultType="integer">
        SELECT
            count(0)
        FROM
            inv_work_task
        WHERE
            handler_id = #{staffId}
        AND create_time > #{messageTime}
        AND is_accept = 0
    </select>

    <select id="getLeadWorkNum" resultType="integer">
        SELECT
            count(0)
        FROM
            status_log
        WHERE
            company_id IN (
                SELECT
                    company_id
                FROM
                    inv_work_task
                WHERE
                    staff_id = #{staffId}
            )
        AND create_time > #{messageTime}
    </select>

    <select id="isRecordable" resultType="string">
        SELECT
            handler_id
        FROM
            inv_work_task
        WHERE
            company_id = #{companyId} limit 1
    </select>

    <select id="getTypeValue" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT
            `value`
        FROM
            setting_value
        WHERE
            type = #{type}
    </select>

    <select id="listAllWorkStationByGroup" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        COUNT(d.user_id) count,
        `group`
        FROM
        inv_user_detail d,
        inv_ding_user u,
        inv_ding_role r,
        inv_work_task w
        WHERE
        d.user_id = u.id
        AND r.depart_id = u.department_id
        AND r.role_name = '招商员'
        AND w.handler_id = d.user_id
        and d.`group` is not NULL
        <if test="date != null">
            and w.create_time > #{date}
        </if>
        GROUP BY
        d.`group`
        ORDER BY count DESC
    </select>

    <select id="getNewaddLogByGroup" resultType="java.util.Map" parameterType="java.util.Map">
SELECT
	COUNT(d.user_id) count,
        <if test="average != null">
            COUNT(DISTINCT w.staff_id) num,
        </if>
	`group`,
	SUBSTR(w.create_time, 1, 10) time
FROM
	inv_user_detail d,
	inv_ding_user u,
	inv_ding_role r,
	status_log w
WHERE
	d.user_id = u.id
AND r.depart_id = u.department_id
AND r.role_name = '招商员'
AND w.staff_id = d.user_id
AND w.create_time > #{date}
and d.`group` is not NULL
GROUP BY
	d.`group`,
	SUBSTR(w.create_time, 1, 10)
ORDER BY
        time,d.`group`
	 ASC

    </select>

    <select id="countNoramlLoggedTasksToday" parameterType="string" resultType="integer">
        SELECT
            count(0)
        FROM
            inv_work_task t,
            status_log l
        WHERE
            t.handler_id = #{staffId}
        AND l.company_id = t.company_id
        AND date(l.create_time) = curdate()
    </select>

    <select id="countLeadLoggedTasksToday" parameterType="string" resultType="integer">
        SELECT
            count(0)
        FROM
            inv_work_task t,
            status_log l
        WHERE
            t.staff_id = #{staffId}
        AND t.company_id = l.company_id
        AND date(l.create_time) = CURDATE()
    </select>

    <select id="getTaskByTaskId" parameterType="integer" resultType="com.quantchi.tianji.service.search.model.WorkTask">
        SELECT
            *
        FROM
            inv_work_task
        WHERE
            id = #{id}
    </select>

    <select id="getSimpleTaskByCompanyId" parameterType="string"
            resultType="com.quantchi.tianji.service.search.model.WorkTask">
        SELECT
            *
        FROM
            inv_work_task
        WHERE
            company_id = #{companyId} limit 1
    </select>
    <select id="getTaskByCompanyIdAndHandler" resultType="com.quantchi.tianji.service.search.model.WorkTask">
        SELECT
        *
        FROM
        inv_work_task
        WHERE
        company_id = #{companyId} AND handler_id = #{handlerId}
    </select>

</mapper>