<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quantchi.tianji.service.search.dao.XmGlTzgmMapper">
  <resultMap id="BaseResultMap" type="com.quantchi.tianji.service.search.model.XmGlTzgm">
    <!--@mbg.generated-->
    <!--@Table xm_gl_tzgm-->
    <id column="tzgm_id" jdbcType="VARCHAR" property="tzgmId" />
    <result column="xmjbxx_id" jdbcType="VARCHAR" property="xmjbxxId" />
    <result column="tzgm_dm" jdbcType="INTEGER" property="tzgmDm" />
    <result column="czrq" jdbcType="TIMESTAMP" property="czrq" />
    <result column="xgrq" jdbcType="TIMESTAMP" property="xgrq" />
    <result column="user_dm" jdbcType="INTEGER" property="userDm" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    tzgm_id, xmjbxx_id, tzgm_dm, czrq, xgrq, user_dm
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from xm_gl_tzgm
    where tzgm_id = #{tzgmId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from xm_gl_tzgm
    where tzgm_id = #{tzgmId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="tzgm_id" keyProperty="tzgmId" parameterType="com.quantchi.tianji.service.search.model.XmGlTzgm" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into xm_gl_tzgm (xmjbxx_id, tzgm_dm, czrq, 
      xgrq, user_dm)
    values (#{xmjbxxId,jdbcType=VARCHAR}, #{tzgmDm,jdbcType=INTEGER}, #{czrq,jdbcType=TIMESTAMP}, 
      #{xgrq,jdbcType=TIMESTAMP}, #{userDm,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="tzgm_id" keyProperty="tzgmId" parameterType="com.quantchi.tianji.service.search.model.XmGlTzgm" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into xm_gl_tzgm
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tzgmDm != null">
        tzgm_dm,
      </if>
      <if test="xmjbxxId != null">
        xmjbxx_id,
      </if>
      <if test="tzgmDm != null">
        tzgm_dm,
      </if>
      <if test="czrq != null">
        czrq,
      </if>
      <if test="xgrq != null">
        xgrq,
      </if>
      <if test="userDm != null">
        user_dm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tzgmDm != null">
        #{tzgmDm,jdbcType=VARCHAR},
      </if>
      <if test="xmjbxxId != null">
        #{xmjbxxId,jdbcType=VARCHAR},
      </if>
      <if test="tzgmDm != null">
        #{tzgmDm,jdbcType=INTEGER},
      </if>
      <if test="czrq != null">
        #{czrq,jdbcType=TIMESTAMP},
      </if>
      <if test="xgrq != null">
        #{xgrq,jdbcType=TIMESTAMP},
      </if>
      <if test="userDm != null">
        #{userDm,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.quantchi.tianji.service.search.model.XmGlTzgm">
    <!--@mbg.generated-->
    update xm_gl_tzgm
    <set>
      <if test="xmjbxxId != null">
        xmjbxx_id = #{xmjbxxId,jdbcType=VARCHAR},
      </if>
      <if test="tzgmDm != null">
        tzgm_dm = #{tzgmDm,jdbcType=INTEGER},
      </if>
      <if test="czrq != null">
        czrq = #{czrq,jdbcType=TIMESTAMP},
      </if>
      <if test="xgrq != null">
        xgrq = #{xgrq,jdbcType=TIMESTAMP},
      </if>
      <if test="userDm != null">
        user_dm = #{userDm,jdbcType=INTEGER},
      </if>
    </set>
    where tzgm_id = #{tzgmId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.quantchi.tianji.service.search.model.XmGlTzgm">
    <!--@mbg.generated-->
    update xm_gl_tzgm
    set xmjbxx_id = #{xmjbxxId,jdbcType=VARCHAR},
      tzgm_dm = #{tzgmDm,jdbcType=INTEGER},
      czrq = #{czrq,jdbcType=TIMESTAMP},
      xgrq = #{xgrq,jdbcType=TIMESTAMP},
      user_dm = #{userDm,jdbcType=INTEGER}
    where tzgm_id = #{tzgmId,jdbcType=VARCHAR}
  </update>

  <select id="selectOneByXmjbxxId" resultType="com.quantchi.tianji.service.search.model.XmGlTzgm">
    select * from xm_gl_tzgm
    where xmjbxx_id = #{xmjbxxId}
  </select>
  <update id="updateByXmId">
    update xm_gl_tzgm
    <set>
      <if test="tzgmDm != null">
        tzgm_dm = #{tzgmDm,jdbcType=INTEGER},
      </if>
      <if test="czrq != null">
        czrq = #{czrq,jdbcType=TIMESTAMP},
      </if>
      <if test="xgrq != null">
        xgrq = #{xgrq,jdbcType=TIMESTAMP},
      </if>
    </set>
    where xmjbxx_id = #{xmjbxxId,jdbcType=INTEGER}
  </update>
</mapper>