<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quantchi.tianji.service.search.dao.XmjbxxKzbMapper">
  <resultMap id="BaseResultMap" type="com.quantchi.tianji.service.search.model.XmjbxxKzb">
    <!--@mbg.generated-->
    <!--@Table xmjbxx_kzb-->
    <id column="xmkzb_id" jdbcType="INTEGER" property="xmkzbId" />
    <result column="xmjbxx_id" jdbcType="INTEGER" property="xmjbxxId" />
    <result column="cyxm_bj" jdbcType="INTEGER" property="cyxmBj" />
    <result column="gccrc_bj" jdbcType="INTEGER" property="gccrcBj" />
    <result column="rcyj_bj" jdbcType="INTEGER" property="rcyjBj" />
    <result column="rcxm_bj" jdbcType="INTEGER" property="rcxmBj" />
    <result column="kyjg_bj" jdbcType="INTEGER" property="kyjgBj" />
    <result column="hzwy_bj" jdbcType="INTEGER" property="hzwyBj" />
    <result column="wz_bj" jdbcType="INTEGER" property="wzBj" />
    <result column="wbq_bj" jdbcType="INTEGER" property="wbqBj" />
    <result column="gqyq_bj" jdbcType="INTEGER" property="gqyqBj" />
    <result column="czrq" jdbcType="TIMESTAMP" property="czrq" />
    <result column="xgrq" jdbcType="TIMESTAMP" property="xgrq" />
    <result column="user_dm" jdbcType="INTEGER" property="userDm" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    xmkzb_id, xmjbxx_id, cyxm_bj, gccrc_bj, rcyj_bj, rcxm_bj, kyjg_bj, hzwy_bj, wz_bj, 
    wbq_bj, gqyq_bj, czrq, xgrq, user_dm
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from xmjbxx_kzb
    where xmkzb_id = #{xmkzbId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from xmjbxx_kzb
    where xmkzb_id = #{xmkzbId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.quantchi.tianji.service.search.model.XmjbxxKzb">
    <!--@mbg.generated-->
    insert into xmjbxx_kzb (xmkzb_id, xmjbxx_id, cyxm_bj, 
      gccrc_bj, rcyj_bj, rcxm_bj, 
      kyjg_bj, hzwy_bj, wz_bj, 
      wbq_bj, gqyq_bj, czrq, 
      xgrq, user_dm)
    values (#{xmkzbId,jdbcType=INTEGER}, #{xmjbxxId,jdbcType=INTEGER}, #{cyxmBj,jdbcType=INTEGER}, 
      #{gccrcBj,jdbcType=INTEGER}, #{rcyjBj,jdbcType=INTEGER}, #{rcxmBj,jdbcType=INTEGER}, 
      #{kyjgBj,jdbcType=INTEGER}, #{hzwyBj,jdbcType=INTEGER}, #{wzBj,jdbcType=INTEGER}, 
      #{wbqBj,jdbcType=INTEGER}, #{gqyqBj,jdbcType=INTEGER}, #{czrq,jdbcType=TIMESTAMP}, 
      #{xgrq,jdbcType=TIMESTAMP}, #{userDm,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.quantchi.tianji.service.search.model.XmjbxxKzb">
    <!--@mbg.generated-->
    insert into xmjbxx_kzb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="xmkzbId != null">
        xmkzb_id,
      </if>
      <if test="xmjbxxId != null">
        xmjbxx_id,
      </if>
      <if test="cyxmBj != null">
        cyxm_bj,
      </if>
      <if test="gccrcBj != null">
        gccrc_bj,
      </if>
      <if test="rcyjBj != null">
        rcyj_bj,
      </if>
      <if test="rcxmBj != null">
        rcxm_bj,
      </if>
      <if test="kyjgBj != null">
        kyjg_bj,
      </if>
      <if test="hzwyBj != null">
        hzwy_bj,
      </if>
      <if test="wzBj != null">
        wz_bj,
      </if>
      <if test="wbqBj != null">
        wbq_bj,
      </if>
      <if test="gqyqBj != null">
        gqyq_bj,
      </if>
      <if test="czrq != null">
        czrq,
      </if>
      <if test="xgrq != null">
        xgrq,
      </if>
      <if test="userDm != null">
        user_dm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="xmkzbId != null">
        #{xmkzbId,jdbcType=INTEGER},
      </if>
      <if test="xmjbxxId != null">
        #{xmjbxxId,jdbcType=INTEGER},
      </if>
      <if test="cyxmBj != null">
        #{cyxmBj,jdbcType=INTEGER},
      </if>
      <if test="gccrcBj != null">
        #{gccrcBj,jdbcType=INTEGER},
      </if>
      <if test="rcyjBj != null">
        #{rcyjBj,jdbcType=INTEGER},
      </if>
      <if test="rcxmBj != null">
        #{rcxmBj,jdbcType=INTEGER},
      </if>
      <if test="kyjgBj != null">
        #{kyjgBj,jdbcType=INTEGER},
      </if>
      <if test="hzwyBj != null">
        #{hzwyBj,jdbcType=INTEGER},
      </if>
      <if test="wzBj != null">
        #{wzBj,jdbcType=INTEGER},
      </if>
      <if test="wbqBj != null">
        #{wbqBj,jdbcType=INTEGER},
      </if>
      <if test="gqyqBj != null">
        #{gqyqBj,jdbcType=INTEGER},
      </if>
      <if test="czrq != null">
        #{czrq,jdbcType=TIMESTAMP},
      </if>
      <if test="xgrq != null">
        #{xgrq,jdbcType=TIMESTAMP},
      </if>
      <if test="userDm != null">
        #{userDm,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.quantchi.tianji.service.search.model.XmjbxxKzb">
    <!--@mbg.generated-->
    update xmjbxx_kzb
    <set>
      <if test="xmjbxxId != null">
        xmjbxx_id = #{xmjbxxId,jdbcType=INTEGER},
      </if>
      <if test="cyxmBj != null">
        cyxm_bj = #{cyxmBj,jdbcType=INTEGER},
      </if>
      <if test="gccrcBj != null">
        gccrc_bj = #{gccrcBj,jdbcType=INTEGER},
      </if>
      <if test="rcyjBj != null">
        rcyj_bj = #{rcyjBj,jdbcType=INTEGER},
      </if>
      <if test="rcxmBj != null">
        rcxm_bj = #{rcxmBj,jdbcType=INTEGER},
      </if>
      <if test="kyjgBj != null">
        kyjg_bj = #{kyjgBj,jdbcType=INTEGER},
      </if>
      <if test="hzwyBj != null">
        hzwy_bj = #{hzwyBj,jdbcType=INTEGER},
      </if>
      <if test="wzBj != null">
        wz_bj = #{wzBj,jdbcType=INTEGER},
      </if>
      <if test="wbqBj != null">
        wbq_bj = #{wbqBj,jdbcType=INTEGER},
      </if>
      <if test="gqyqBj != null">
        gqyq_bj = #{gqyqBj,jdbcType=INTEGER},
      </if>
      <if test="czrq != null">
        czrq = #{czrq,jdbcType=TIMESTAMP},
      </if>
      <if test="xgrq != null">
        xgrq = #{xgrq,jdbcType=TIMESTAMP},
      </if>
      <if test="userDm != null">
        user_dm = #{userDm,jdbcType=INTEGER},
      </if>
    </set>
    where xmkzb_id = #{xmkzbId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.quantchi.tianji.service.search.model.XmjbxxKzb">
    <!--@mbg.generated-->
    update xmjbxx_kzb
    set xmjbxx_id = #{xmjbxxId,jdbcType=INTEGER},
      cyxm_bj = #{cyxmBj,jdbcType=INTEGER},
      gccrc_bj = #{gccrcBj,jdbcType=INTEGER},
      rcyj_bj = #{rcyjBj,jdbcType=INTEGER},
      rcxm_bj = #{rcxmBj,jdbcType=INTEGER},
      kyjg_bj = #{kyjgBj,jdbcType=INTEGER},
      hzwy_bj = #{hzwyBj,jdbcType=INTEGER},
      wz_bj = #{wzBj,jdbcType=INTEGER},
      wbq_bj = #{wbqBj,jdbcType=INTEGER},
      gqyq_bj = #{gqyqBj,jdbcType=INTEGER},
      czrq = #{czrq,jdbcType=TIMESTAMP},
      xgrq = #{xgrq,jdbcType=TIMESTAMP},
      user_dm = #{userDm,jdbcType=INTEGER}
    where xmkzb_id = #{xmkzbId,jdbcType=INTEGER}
  </update>
</mapper>