<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quantchi.tianji.service.search.dao.project.ProjectInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.quantchi.tianji.service.search.entity.project.ProjectInfo">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="status" property="status" />
        <result column="industry_type" property="industryType" />
        <result column="country" property="country" />
        <result column="region" property="region" />
        <result column="content" property="content" />
        <result column="need_land_area" property="needLandArea" />
        <result column="land_type" property="landType" />
        <result column="land_unit" property="landUnit" />
        <result column="office_area" property="officeArea" />
        <result column="invest_total" property="investTotal" />
        <result column="invest_fixed" property="investFixed" />
        <result column="currency_unit" property="currencyUnit" />
        <result column="invest_scale" property="investScale" />
        <result column="land_dept_id" property="landDeptId" />
        <result column="relate_dept_dm" property="relateDeptDm" />
        <result column="other_requires" property="otherRequires" />
        <result column="invest_type" property="investType" />
        <result column="invest_date" property="investDate" />
        <result column="report_user_id" property="reportUserId" />
        <result column="master_user_dm" property="masterUserDm" />
        <result column="mark" property="mark" />
        <result column="hide_flag" property="hideFlag" />
        <result column="is_valid" property="isValid" />
        <result column="report_time" property="reportTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="operator_id" property="operatorId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, status, industry_type, country, region, content, need_land_area, land_type, land_unit, office_area, invest_total, invest_fixed, currency_unit, invest_scale, land_dept_id, relate_dept_dm, other_requires, invest_type, invest_date, report_user_id, master_user_dm, mark, hide_flag, is_valid, report_time, create_time, update_time, operator_id
    </sql>
    <select id="queryReportDataAll" resultMap="BaseResultMap">
        SELECT *
        FROM project_info x
        WHERE x.is_valid = 1
        <if test="investUnits !=null and investUnits.size &gt; 0">
            and invest_scale in
            <foreach close=")" collection="investUnits" index="index" item="item" open="(" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="projectLabels !=null and projectLabels.size &gt; 0">
            and id in(select b.project_id from project_label b
            INNER JOIN code_label d where b.label_id = d.id and b.is_valid = 1 and d.type = 1 and b.label_id in
            <foreach close=")" collection="projectLabels" index="index" item="item" open="(" separator=",">
                #{item}
            </foreach>
            )
        </if>
        <if test="fields !=null and fields.size &gt; 0">
            and id in(select b.project_id from project_label b
            INNER JOIN code_label d where b.label_id = d.id and b.is_valid = 1 and d.type = 2 and b.label_id in
            <foreach close=")" collection="fields" index="index" item="item" open="(" separator=",">
                #{item}
            </foreach>
            )
        </if>
        <if test="departmentList !=null and departmentList.size &gt; 0">
            and land_dept_id in
            <foreach close=")" collection="departmentList" index="index" item="item" open="(" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="statusList !=null and statusList.size &gt; 0">
            and status in
            <foreach close=")" collection="statusList" index="index" item="item" open="(" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="projectName != null">
            and name LIKE CONCAT('%', #{projectName}, '%')
            or (select xgt.name
            from project_invest xgt
            left join project_info xz on xgt.project_id = xz.id
            where xgt.project_id  = x.id and xz.is_valid = 1 limit 1) like CONCAT('%', #{projectName}, '%')
        </if>
        <if test="reportStartTime !=null and reportEndTime !=null ">
            and report_time BETWEEN #{reportStartTime} AND #{reportEndTime}
        </if>
        order by report_time desc
    </select>
    <update id="deleteByProjectId">
        update project_info set is_valid = 0 where id = #{projectId}
    </update>
    <select id="countInvestData" resultType="java.lang.Integer">
        select count(1) from project_info
        where status = 7 and is_valid = 1
        and invest_scale = #{investScal}
        <if test="deptDm != null ">
            and relate_dept_dm = #{deptDm}
        </if>
        <if test="startTime !=null and endTime !=null ">
            and update_time BETWEEN #{startTime} AND #{endTime}
        </if>
    </select>
    <select id="countSignByDeptDm" resultType="int">
        select count(1) from project_info
        where status = 7 and is_valid = 1
        <if test="industryType != null ">
            and industry_type = #{industryType}
        </if>
        <if test="deptDm != null ">
            and relate_dept_dm = #{deptDm}
        </if>
        <if test="startTime !=null and endTime !=null ">
            and report_time BETWEEN #{startTime} AND #{endTime}
        </if>
    </select>
    <select id="countSignByXmBq" resultType="int">
        select count(1) from project_info z
        INNER JOIN project_label b
        where z.id = b.project_id and z.status = 7
        and b.label_id = #{bqdm} and z.is_valid = 1 and b.is_valid = 1
        <if test="deptDm != null ">
            and z.relate_dept_dm = #{deptDm}
        </if>
        <if test="startTime !=null and endTime !=null ">
            and z.report_time BETWEEN #{startTime} AND #{endTime}
        </if>
    </select>

</mapper>
